<h3>Import necessary packages </h3>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from tensorflow.keras.optimizers import Adam

/var/folders/pc/cw9rfzrs40s854nlyd3h7q_h0000gn/T/ipykernel_27629/155741403.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
/Users/kenzverylayz/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

<h3> Read pre-processsed file </h3>

In [2]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('Merged_df.csv', index_col=0)

/var/folders/pc/cw9rfzrs40s854nlyd3h7q_h0000gn/T/ipykernel_27629/1463368140.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Merged_df.csv', index_col=0)

In [3]:
df

,UserID,MovieID,Rating,Timestamp,Title,Genres,Gender,Age,Occupation,ZipCode,Movie_Title,Movie_Year,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,year,title_year
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067,One Flew Over the Cuckoo's Nest,1975,510.0,One Flew Over the Cuckoo's Nest,8.420,9650.0,Released,1975-11-19,108981275.0,133.0,False,/qUq3QTr2KLvGIcN0GaaaYx9bbyH.jpg,3000000.0,NaN,tt0073486,en,One Flew Over the Cuckoo's Nest,A petty criminal fakes insanity to serve his s...,36.673,/3jcbDmRFiQ83drXNOvRDeKHxS0C.jpg,"If he's crazy, what does that make you?",Drama,Fantasy Films,United States of America,English,1975.0,One Flew Over the Cuckoo's Nest (1975)
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067,James and the Giant Peach,1996,10539.0,James and the Giant Peach,6.556,1196.0,Released,1996-04-12,28946127.0,79.0,False,/6kTLm7zfwKAgAcGnaVU0uT4QYug.jpg,38000000.0,http://movies.disney.com/james-and-the-giant-p...,tt0116683,en,James and the Giant Peach,When the young orphan boy James spills a magic...,27.497,/nl2oB6EbD1fHFuP2TLUHDtqs7Ux.jpg,Adventures this big don't grow on trees.,"Adventure, Animation, Family, Fantasy","Allied Filmmakers, Walt Disney Pictures",United States of America,English,1996.0,James and the Giant Peach (1996)
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067,My Fair Lady,1964,11113.0,My Fair Lady,7.500,1161.0,Released,1964-10-21,72661442.0,170.0,False,/xMoQjqa3JUc2unO4nF9PmM1JTQu.jpg,17000000.0,NaN,tt0058385,en,My Fair Lady,A snobbish phonetics professor agrees to a wag...,19.547,/bTXVc29lGSNclf94VIZ49W4gGKl.jpg,The loverliest motion picture of them all!,"Romance, Drama, Comedy",Warner Bros. Pictures,United States of America,English,1964.0,My Fair Lady (1964)
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067,Erin Brockovich,2000,462.0,Erin Brockovich,7.417,2855.0,Released,2000-03-17,256271286.0,131.0,False,/3HmLKhahTxX2ALTWlagr92pZrU7.jpg,52000000.0,NaN,tt0195685,en,Erin Brockovich,A twice-divorced mother of three who sees an i...,22.495,/xbMEHLu36LyptPD29FxVTndpYZ1.jpg,She brought a small town to its feet and a hug...,Drama,Jersey Films,United States of America,English,2000.0,Erin Brockovich (2000)
4,1,2355,5,978824291,A Bug's Life (1998),Animation|Children's|Comedy,F,1,10,48067,A Bug's Life,1998,9487.0,A Bug's Life,6.969,8541.0,Released,1998-11-25,363258859.0,95.0,False,/hwwFyowfcbLRVmRBOkvnABBNIOs.jpg,120000000.0,http://movies.disney.com/a-bugs-life,tt0120623,en,A Bug's Life,"On behalf of ""oppressed bugs everywhere,"" an i...",58.168,/Ah3J9OJVc2CNCuH2zMydXy9fmIC.jpg,An epic presentation of miniature proportions.,"Adventure, Animation, Comedy, Family","Pixar, Walt Disney Pictures",United States of America,English,1998.0,A Bug's Life (1998)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994980,6040,1094,5,956704887,The Crying Game (1992),Drama|Romance|War,M,25,6,11106,The Crying Game,1992,11386.0,The Crying Game,6.860,666.0,Released,1992-09-02,62548947.0,112.0,False,/htBKlZaVLn7hnz36AdvVR53LwB8.jpg,3705538.0,http://www.miramax.com/movie/the-crying-game/,tt0104036,en,The Crying Game,Irish Republican Army member Fergus forms an u...,19.329,/ynEfiiwS0dosbPjzGqBLo7FXMlD.jpg,Play At Your Own Risk.,"Crime, Drama, Thriller","Palace Pictures, Nippon Film Development and F...","Ireland, Japan, United Kingdom",English,1992.0,The Crying Game (1992)
994981,6040,1094,5,956704887,The Crying Game (1992),Drama|Romance|War,M,25,6,11106,The Crying Game,1992,1214190.0,The Crying Game,0.000,0.0,Released,1992-05-05,0.0,34.0,False,NaN,0.0,NaN,tt0544892,en,The Crying Game,Roy Brush has aspirations to be a great footba...,0.600,/r4iIpTuvNmMGmQGFrfW0vYQRSbQ.jpg,NaN,Comedy,BBC,United Kingdom,English,1992.0,The Crying Game (1992)
994982,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25,6,11106,Welcome to the Dollhouse,1995,11446.0,Welcome to the Dollhouse,7.173,387.0,Released,1996-05-24,5034794.0,88.0,False,/m3tqKMbBTkZUgEAVSxabj4miJV2.jpg,800000.0,NaN,tt0114906,en,Welcome to the Dollhouse,An unattractive 7th grader struggles to cope w...,10.991,/yrbj1UCLH0oNqWuR9NHuNEdtDF8.jpg,Not all girls want to play with dolls.,"Comedy, Drama",Suburban Pictures,United States of America,"English, Hungarian",1996.0,Welcome to the Dollhouse (1996)
994983,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25,6,11106,Sophie's Choice,1982,15764.0,Sophie's Choice,7.340,781.0,Released,1982-12-08,30036000.0,151.0,False,/xczDgm9F3uN3PqyP5yvs3JI9HrJ.jpg,12000000.0,NaN,tt0084707,en,Sophie's Choice,"Stingo, a young writer, moves to Brooklyn in 1...",14.359,/6zayvLCWvF8ImK5UqwRUbETcpVU.jpg,"Between the innocent, the romantic, the sensua...","Drama, Romance, War","ITC Entertainment, Keith Barish Productions, U...","United Kingdom, United States of America","Czech, German, French, Polish, Russian, English",1982.0,Sophie's Choice (1982)
994984,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25,6,11106,E.T. the Extra-Terrestrial,1982,601.0,E.T. the Extra-Terrestrial,7.512,10467.0,Released,1982-06-11,792965500.0,115.0,False,/9Kg322bGsEbmp94LjCCVGz3cpNw.jpg,10500000.0,http://www.et20.com/,tt0083866,en,E.T. the Extra-Terrestrial,An alien is left behind on Earth and saved by ...,50.334,/an0nD6uq6byfxXCfk6lQBzdL2J1.jpg,He is afraid. He is alone. He is three million...,"Science Fiction, Adventure, Family, Fantasy","Universal Pictures, Amblin Entertainment",United States of America,English,1982.0,E.T. the Extra-Terrestrial (1982)

<h3> Normalize age </h3>

In [4]:
scaler = StandardScaler()
df['Normalized_Age'] = scaler.fit_transform(df[['Age']])

<h3>One hot encoding</h3>

In [5]:
encoder = OneHotEncoder()
user_attrs = df[['UserID', 'Gender', 'Occupation']].drop_duplicates().reset_index(drop=True)
encoded_attrs = encoder.fit_transform(user_attrs[['Gender', 'Occupation']])
encoded_attrs_df = pd.DataFrame(encoded_attrs.toarray(), index=user_attrs.index)
encoded_attrs_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6036,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h3> Combining the original UserID column with the one-hot encoded attributes of Gender and Occupation into a single DataFrame. </h3>

In [6]:
user_attrs_final = pd.concat([user_attrs[['UserID']], encoded_attrs_df], axis=1)
user_attrs_final

,UserID,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,6036,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6036,6037,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,6038,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,6039,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,6040,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h3> Creating UserID and MovieID mappings to ensure data consistency and compatability </h3>

In [7]:
user_ids = df['UserID'].unique()
user_id_map = {i: idx for idx, i in enumerate(user_ids)}
movie_ids = df['MovieID'].unique()
movie_id_map = {i: idx for idx, i in enumerate(movie_ids)}

df['UserID'] = df['UserID'].map(user_id_map)
df['MovieID'] = df['MovieID'].map(movie_id_map)
user_attrs_final['UserID'] = user_attrs_final['UserID'].map(user_id_map)

In [44]:
user_attrs_final

,UserID,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,6035,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6036,6036,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,6037,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,6038,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,6039,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h3> Split data into training and testing </h3>

In [9]:
train, test = train_test_split(df, test_size=0.2, random_state=42)

<h3> Collaborative filtering using deep learning (Neural Collaborative Filtering model) </h3>

In [17]:
def RecommenderNet(num_users, num_movies, num_user_attrs, embedding_size=50):
    # User and Movie Embedding
    user_input = Input(shape=(1,), name='user_input')
    movie_input = Input(shape=(1,), name='movie_input')
    
    # Updated Embedding layers without 'input_length'
    user_emb = Embedding(output_dim=embedding_size, input_dim=num_users, name='user_embedding')(user_input)
    movie_emb = Embedding(output_dim=embedding_size, input_dim=num_movies, name='movie_embedding')(movie_input)
    
    # Flatten embeddings
    user_vec = Flatten()(user_emb)
    movie_vec = Flatten()(movie_emb)
    
    # Dot product of embeddings for collaborative filtering prediction
    cf_pred = Dot(axes=1)([user_vec, movie_vec])
    
    # User attributes input
    attrs_input = Input(shape=(num_user_attrs,), name='attrs_input')
    attrs_dense = Dense(128, activation='relu')(attrs_input)
    
    # Concatenate CF prediction with user attributes
    concat = Concatenate()([cf_pred, attrs_dense])
    x = Dense(128, activation='relu')(concat)
    x = Dense(1)(x)
    
    model = Model(inputs=[user_input, movie_input, attrs_input], outputs=x)
    model.compile(optimizer=Adam(0.001), loss='mse')
    
    return model

<h3> Initializing deep learning model </h3>

In [18]:
num_users = len(user_ids)
num_movies = len(movie_ids)
num_user_attrs = encoded_attrs_df.shape[1]

model = RecommenderNet(num_users, num_movies, num_user_attrs)

In [19]:
train

,UserID,MovieID,Rating,Timestamp,Title,Genres,Gender,Age,Occupation,ZipCode,Movie_Title,Movie_Year,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,year,title_year,Normalized_Age
477995,2945,1209,3,975828421,Things to Do in Denver when You're Dead (1995),Crime|Drama|Romance,M,35,16,92630,Things to Do in Denver when You're Dead,1995,400.0,Things to Do in Denver When You're Dead,6.496,338.0,Released,1995-12-01,529766.0,116.0,False,/7fEOKdQIfbkOxy0enLtpyPGUsTm.jpg,8000000.0,NaN,tt0114660,en,Things to Do in Denver When You're Dead,Five different criminals face imminent death a...,19.110,/oPp6Gbrasox66WyMvPS0k8OakQf.jpg,Protect. Love. Honor. Avenge.,"Drama, Crime",Miramax,United States of America,"French, English",1995.0,Things to Do in Denver When You're Dead (1995),0.446453
114076,745,148,2,975467135,Gone with the Wind (1939),Drama|Romance|War,F,18,19,95019,Gone with the Wind,1939,770.0,Gone with the Wind,7.965,3691.0,Released,1939-12-15,402352579.0,238.0,False,/ft8WRF2xqEwwGWa59naDUybKTAx.jpg,4000000.0,NaN,tt0031381,en,Gone with the Wind,The spoiled daughter of a Georgia plantation o...,46.849,/lNz2Ow0wGCAvzckW7EOjE03KcYv.jpg,The greatest romance of all time!,"Drama, War, Romance","Selznick International Pictures, Metro-Goldwyn...",United States of America,English,1939.0,Gone with the Wind (1939),-0.999621
272217,1648,795,2,974712016,The Nutty Professor (1996),Comedy|Fantasy|Romance|Sci-Fi,M,18,19,98034,The Nutty Professor,1996,9327.0,The Nutty Professor,5.625,2697.0,Released,1996-06-28,128769345.0,95.0,False,/gHFuLHxruielBcMEZx1WowxbRWS.jpg,54000000.0,NaN,tt0117218,en,The Nutty Professor,"Eddie Murphy stars as shy Dr. Sherman Klump, a...",16.421,/fMtb5aZoLRNbMnCkatFsTmPRfl5.jpg,"Inside Sherman Klump, a party animal is about ...","Fantasy, Comedy, Romance, Science Fiction","Universal Pictures, Imagine Entertainment",United States of America,English,1996.0,The Nutty Professor (1996),-0.999621
875351,5316,283,5,960905686,Pi (1998),Sci-Fi|Thriller,F,25,0,02138,Pi,1998,473.0,Pi,7.111,2021.0,Released,1998-07-10,3221152.0,84.0,False,/rYpGznw5UExo3ojqRK8eRIfqoEJ.jpg,60000.0,NaN,tt0138704,en,Pi,A mathematical genius discovers a link between...,18.313,/dET9ULtaMJEUnfylQE1n5LC9gr7.jpg,"There will be no order, only chaos","Mystery, Drama, Thriller","Harvest Filmworks, Plantain Films, Protozoa Pi...",United States of America,English,1998.0,Pi (1998),-0.404179
442204,2741,40,4,973220893,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,M,25,17,36092,Star Wars: Episode IV - A New Hope,1977,11.0,Star Wars,8.204,19155.0,Released,1977-05-25,775398007.0,121.0,False,/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg,11000000.0,http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,88.559,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,"A long time ago in a galaxy far, far away...","Adventure, Action, Science Fiction","Lucasfilm Ltd., 20th Century Fox",United States of America,English,1977.0,Star Wars (1977),-0.404179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259005,1591,1745,5,974737853,The Apartment (1960),Comedy|Drama,M,35,7,50111,The Apartment,1960,284.0,The Apartment,8.222,2016.0,Released,1960-06-21,25000000.0,125.0,False,/vRTKNKNWLZ22fAgPa5kY8wT2b1F.jpg,3000000.0,NaN,tt0053604,en,The Apartment,Bud Baxter is a minor clerk in a huge New York...,24.186,/hhSRt1KKfRT0yEhEtRW3qp31JFU.jpg,"Movie-wise, there has never been anything like...","Comedy, Drama, Romance","The Mirisch Company, United Artists",United States of America,English,1960.0,The Apartment (1960),0.446453
365599,2144,99,5,974627359,"Misérables, Les (1998)",Drama,M,18,10,32750,"Misérables, Les",1998,4415.0,Les Misérables,7.192,546.0,Released,1998-05-01,14096321.0,134.0,False,/g1J3SBqxbeHLTatlzHp8bGhaAwO.jpg,0.0,NaN,tt0119683,en,Les Misérables,"Jean Valjean, a Frenchman imprisoned for steal...",15.379,/3TOgmlIY8X3WjIjvU7Z0jqeNkyU.jpg,The legend comes to life.,"Crime, Drama, History, Romance",Columbia Pictures,United States of America,English,1998.0,Les Misérables (1998),-0.999621
131854,854,541,4,976340146,Defending Your Life (1991),Comedy|Romance,F,18,2,72701,Defending Your Life,1991,12186.0,Defending Your Life,6.943,235.0,Released,1991-03-22,0.0,112.0,False,/aDmeTN3Ke6Y7I0pd6tEFqG1SLeu.jpg,0.0,NaN,tt0101698,en,Defending Your Life,Is there love after death? After he dies sudde...,10.339,/pkNIdL0fOENFBq3DdTb0M8FB26t.jpg,The first true story of what happens after you...,"Comedy, Fantasy, Romance",Geffen Pictures,United States of America,English,1991.0,Defending Your Life (1991),-0.999621
670720,4047,120,4,965498090,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War,F,35,1,89431,Star Wars: Episode V - The Empire Strikes Back,1980,1891.0,The Empire Strikes Back,8.400,15773.0,Released,1980-05-20,538400000.0,124.0,False,/aJCtkxLLzkk1pECehVjKHA2lBgw.jpg,18000000.0,http://www.starwars.com/films/star-wars-episod...,tt0080684,en,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",35.265,/nNAeTmF4CtdSgMDplXTDPOpYzsX.jpg,The Adventure Continues...,"Adventure, Action, Science Fiction",Lucasfilm Ltd.,United States of America,English,1980.0,The Empire Strikes Back (1980),0.446453
121886,790,530,3,975424836,Mission: Impossible 2 (2000),Action|Thriller,M,35,7,27511,Mission: Impossible 2,2000,955.0,Mission: Impossible II,6.119,6122.0,Released,2000-05-24,546388105.0,123.0,False,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,125000000.0,NaN,tt0120755,en,Mission: Impossible II,With computer genius Luther Stickell at his si...,38.395,/7us8nE3ldE0gX2cziUz4tKg0Go0.jpg,Expect the impossible again.,"Adventure, Action, Thriller","Paramount, Cruise/Wagner Productions",United States of America,English,2000.0,Mission: Impossible II (2000),0.446453

<h3> Preparing the training data </h3>

In [48]:
user_attrs_final.set_index('UserID', inplace=True)
user_input_train = train['UserID'].values
movie_input_train = train['MovieID'].values
attrs_input_train = user_attrs_final.loc[user_input_train].values
rating_train = train['Rating'].values

<h3> Training the model, target output is ratings  </h3>

In [21]:
history = model.fit([user_input_train, movie_input_train, attrs_input_train], rating_train,
                    batch_size=64, epochs=5, validation_split=0.2)

Epoch 1/5
9957/9957 ━━━━━━━━━━━━━━━━━━━━ 33s 3ms/step - loss: 1.2155 - val_loss: 0.8122
Epoch 2/5
9957/9957 ━━━━━━━━━━━━━━━━━━━━ 33s 3ms/step - loss: 0.6486 - val_loss: 0.8289
Epoch 3/5
9957/9957 ━━━━━━━━━━━━━━━━━━━━ 32s 3ms/step - loss: 0.4894 - val_loss: 0.8546
Epoch 4/5
9957/9957 ━━━━━━━━━━━━━━━━━━━━ 31s 3ms/step - loss: 0.4142 - val_loss: 0.8867
Epoch 5/5
9957/9957 ━━━━━━━━━━━━━━━━━━━━ 30s 3ms/step - loss: 0.3684 - val_loss: 0.9198

In [52]:
user_attrs_final.loc[user_input_train].values.shape

(796524, 23)

In [49]:
user_attrs_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
UserID,,,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6036,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
attrs_input_train
user_input_train.shape

(796524,)

<h3> Finding loss on testing dataset </h3>

In [40]:
user_input_test = test['UserID'].values
movie_input_test = test['MovieID'].values
attrs_input_test = user_attrs_final.loc[user_input_test].values  
rating_test = test['Rating'].values
evaluation = model.evaluate([user_input_test, movie_input_test, attrs_input_test], rating_test)

6223/6223 ━━━━━━━━━━━━━━━━━━━━ 2s 315us/step - loss: 0.9211

In [138]:
# Load Dataset
tmdb_df = pd.read_csv("TMDB_movie_dataset_v11.csv", index_col=0, low_memory=False)

# Cleaning up the release date column to coerce problematic values to NaT, and ensure dates are in proper format
tmdb_df['release_date'] = pd.to_datetime(tmdb_df['release_date'], errors='coerce')

# Creating new "year" (string) column and extracting year from the "release_date" field
tmdb_df['year'] = tmdb_df['release_date'].dt.year.astype('Int64').astype(str).replace('<NA>', pd.NA)

# Drop unnecessary columns not used in analysis
tmdb_df1 = tmdb_df.drop(['status', 'backdrop_path', 'homepage', 'imdb_id', 'poster_path', 'production_companies','production_countries', 'release_date', 
                         'original_language', "original_title", "spoken_languages", "overview", "tagline", "revenue", "budget"], axis=1)

numerical_features = ["vote_average", "vote_count", "runtime", "popularity", "year"]
# Coerce '0' values to NA for numerical features
tmdb_df1[numerical_features] = tmdb_df1[numerical_features].replace(0, pd.NA)

# Drop rows with 0 for numerical features (as it will skew/bias the results if included)
tmdb_df1 = tmdb_df1.dropna(subset=numerical_features)

<h3> Extrapolating to TMDB dataset </h3>

In [147]:
tmdb_df1["year"]

id
27205     2010
157336    2014
155       2008
19995     2009
24428     2012
          ...
882946    2017
917549    2021
431366    2014
68616     1995
882884    2021
Name: year, Length: 298073, dtype: object

In [148]:
def predict_ratings_for_user_with_titles(user_id, year = 0, data2 = tmdb_df1, num_recommendations=5, model = model):
    
    # Extract user IDs
    user_id_input = np.array([user_id] * len(data2))
    
    # Extract dataset for this particular user and just keep first row as features will be constant
    user_df = np.reshape(user_attrs_final.loc[user_id].values, (1,23))

    # Extract users demographic features and repeat for the length of unseen movies
    user_demographics_pred = np.repeat(user_df, len(data2), axis = 0)
    
    # Extract Movie IDs
    movie_id_input = np.reshape(data2.index.values, (len(data2),))
    
    # Predict Ratings for unseen movies
    predicted_ratings = model.predict([user_id_input, movie_id_input, user_demographics_pred])
    
    new_df = data2.copy()
    
    new_df["predicted_ratings"] = predicted_ratings

    new_df['year'] = new_df['year'].astype('Int64')

    if year != 0:
        new_df = new_df[new_df["year"] > year]    
    
    new_df.sort_values(by='predicted_ratings', ascending=False, inplace = True)
    
    final_movies_df = new_df[["title", "year", "predicted_ratings"]].head(num_recommendations)

    return final_movies_df

In [142]:
predict_ratings_for_user_with_titles(30)

9315/9315 ━━━━━━━━━━━━━━━━━━━━ 4s 434us/step

                title  year  predicted_ratings
id
494   Shaft in Africa  1973           4.996412
9    Sunday in August  2004           4.940158
405         La Strada  1954           4.935646
6      Judgment Night  1993           4.933537
573            Frenzy  1972           4.906352

In [151]:
predict_ratings_for_user_with_titles(2, year = 2020)

9315/9315 ━━━━━━━━━━━━━━━━━━━━ 4s 419us/step

                           title  year  predicted_ratings
id
634649   Spider-Man: No Way Home  2021           3.590245
998272         Heureux les fêlés  2022           3.590245
1045189               Moonstruck  2022           3.590245
592761     Kombu Vatcha Singamda  2022           3.590245
1046755         Part-Time Killer  2022           3.590245